body {
  font-family: Arial, sans-serif;
  text-align: center;
}

#chart-container {
  width: 30%;
  height: 30%;
  margin: 0 auto;
  padding: 20px;
}

canvas {
  width: 100%;
  height: 400px;
}

#log {
  margin-top: 20px;
}

.logWrapper {
  max-width: 500px;
  overflow-x: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.entry {
  margin-bottom: 5px;
}

.chart-wrapper {
  position: relative; /* Set relative to the wrapper */
  display: inline-block; /* Adjust the size to fit the content */
}

.loader-wrapper {
  position: absolute; /* Absolute positioning inside the wrapper */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex; /* Use Flexbox for centering */
  justify-content: center; /* Horizontal centering */
  align-items: center; /* Vertical centering */
  pointer-events: none; /* So that mouse events do not interfere with the graphics */
  z-index: 10; /* On top of the chart */
}

.loader {
  display: none;
  transform: translate(-50%, -50%);
  border: 16px solid #f3f3f3;
  /* Light grey */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 1s linear infinite;
}

#mainThreadLoader {
  border-top: 16px solid #3498db;
  /* Blue */
}

#mainWorkerLoader {
  border-top: 16px solid #ff2400;
  /* Blue */
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
}
th,
td {
  border: 1px solid #ddd;
  text-align: left;
  padding: 8px;
}
th {
  background-color: #f2f2f2;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.charts-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin: 20px;
}
.chart-box {
  position: relative;
  width: 100%;
  height: 300px;
  margin-top: 50px;
}

.chartAndLogWrapper {
  display: flex;
  padding: 30px;
  gap: 30px;
}

#progress-container {
  margin: 20px 0;
  display: flex;
  justify-content: space-around;
}

.progress-bar-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

button {
  width: 200px;
  padding: 8px 12px;
  border-radius: 10px;
  background-color: #30d5c8;
  border: 2px solid #1b877e;

  &:active {
    border-color: #19ffff;
  }
}

.platformChart {
  margin-top: 20px;
}

.platformChartBtn {
  margin-top: 20px;
}
